.root {
     -fx-background-image: url("../../resources/img/background.jpg");
}

.label {
    -fx-font-size: 36pt;
    -fx-font-family: "NewTegomin";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-content {
    -fx-font-size: 24pt;
    -fx-font-family: "NewTegomin";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.button {
    -fx-border-color: transparant;
    -fx-background-color: white;
    -fx-font-family: "NewTegomin";
    -fx-font-size: 14pt;
    -fx-text-fill: #929292;
    -fx-background-radius: 12px;
}

.button:hover {
    -fx-background-color: black;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: blue;
  -fx-text-fill: red;
}
