.root {
     -fx-background-image: url("../../resources/img/background.jpg");
}

.label {
    -fx-font-size: 36pt;
    -fx-font-family: "New Tegomin";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-content {
    -fx-font-size: 24pt;
    -fx-font-family: "New Tegomin";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 20pt;
    -fx-font-family: "New Tegomin";
    -fx-text-fill: black;
}